@model IEnumerable<WebApplicationWithPostgresSQL.Deposit>

@{
     ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cash)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PercentPerYear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfBegin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfEnd)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Commentary)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.DepClientNoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepStaffNoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PercentPerYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBegin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Commentary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepClientNoNavigation.Fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepStaffNoNavigation.Fname)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DepositNo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DepositNo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DepositNo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
